# AI Keys
VITE_OPENROUTER_API_KEY=
VITE_GROQ_API_KEY=
VITE_GOOGLE_AI_KEY=

# Frontend Configuration
VITE_BACKEND_URL="http://localhost:8000"

# Backend Configuration
ALLOWED_ORIGINS="http://localhost:3000,http://localhost:5173"
FIREBASE_PROJECT_ID="gen-lang-client-0362910217"

# Database (Optional for direct DB access)
DATABASE_URL=
