@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #00488d;
  --color-primary-container: #005fb8;
  --color-on-primary: #ffffff;
  
  --color-secondary: #486176;
  --color-secondary-container: #cbe6ff;
  
  --color-tertiary: #7b3200;
  --color-tertiary-container: #a04401;
  
  --color-surface: #f8f9fa;
  --color-surface-container: #edeeef;
  --color-surface-container-low: #f3f4f5;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-high: #e7e8e9;
  --color-surface-container-highest: #e1e3e4;
  
  --color-on-surface: #191c1d;
  --color-on-surface-variant: #424752;
  
  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
  
  --radius-xl: 0.5rem;
  --radius-full: 0.75rem;
}

@layer base {
  body {
    @apply bg-surface text-on-surface font-sans;
  }
}

.canvas-bg {
  background-image: radial-gradient(circle, #c2c6d4 1px, transparent 1px);
  background-size: 24px 24px;
}
